Repository tensorflow/community, pull requests merged in 2018-11, with the labels that each got.

#16 RFC: TensorFlow API symbols and namespaces
  rfcs/20180827-api-names.md
Labels: 2.0, RFC: Accepted

#15 RFC: Unify RNN interface
  rfcs/20180920-unify-rnn-interface.md
Labels: 2.0, RFC: Accepted

#25 RFC: Distribution Strategy - Revised API
  rfcs/20181016-replicator.md
Labels: 2.0, RFC: Proposed

#20 RFC: Functions, not sessions in 2.0
  rfcs/20180918-functions-not-sessions-20.md
Labels: 2.0, RFC: Proposed

#24 RFC: Optimizer unification in TensorFlow 2.0
  rfcs/20181016-optimizer-unification.md
Labels: 2.0, RFC: Proposed

#30 RFC: TensorFlow Integration Testing
  rfcs/20181025-tf-integration-testing.md
Labels: RFC: Accepted
