Repository tensorflow/community, pull requests merged in 2018-09, with the labels that each got.

#13 RFC: Functional while_loop
  rfcs/20180821-differentiable-functional-while.md
  rfcs/20180821-differentiable-functional-while/while_body.png
  rfcs/20180821-differentiable-functional-while/while_cond.png
  rfcs/20180821-differentiable-functional-while/while_v1.png
  rfcs/20180821-differentiable-functional-while/while_v2.png
Labels: RFC: Proposed

#5 RFC: Generalizing tf.data batching using windowing and reducers
  rfcs/20180726-tf-data-windowing-reducers.md
Labels: RFC: Accepted

#11 RFC: Variables in TensorFlow 2.0
  rfcs/20180817-variables-20.md
Labels: 2.0, RFC: Proposed
