Repository tensorflow/community, pull requests merged in 2019-02, with the labels that each got.

#59 Add Bryan to SIG-IO release team
  sigs/io/RELEASE.md
Labels: cla: yes

#55 RFC: Embedding and Partitioned Variables in TF 2.0
  rfcs/20190116-embedding-partitioned-variable.md
Labels: 2.0, RFC: Accepted, cla: yes

#64 Updated link for the friction log.
  sigs/build/tensorflow-testing.md
Labels: cla: yes

#63 Switch DistStrat revised API examples to TensorFlow 2 style.
  rfcs/20181016-replicator.md
Labels: cla: yes

#54 RFC: Attention for Dense Networks on Keras
  rfcs/20190115-dense-attention.md
Labels: RFC: Proposed, cla: yes

#56 RFC: Stateful Containers with tf.Module
  rfcs/20190117-tf-module.md
Labels: RFC: Accepted, cla: yes

#14 RFC: New tf.print
  rfcs/20180824-tf-print-v2.md
Labels: 2.0, RFC: Accepted, cla: yes

#17 RFC: Deprecate Collections
  rfcs/20180905-deprecate-collections.md
Labels: 2.0, RFC: Accepted, cla: yes

#70 Update cond_v2 design doc
  rfcs/20180507-cond-v2.md
Labels: cla: yes
