Repository tensorflow/community, pull requests merged in 2019-01, with the labels that each got.

#44 RFC: tf.backend
  rfcs/20181225-tf-raw-ops.md
Labels: 2.0, RFC: Accepted

#37 RFC: Move from tf.contrib to addons
  rfcs/20181214-move-to-addons.md
Labels: 2.0, RFC: Proposed

#38 RFC: Random numbers in TensorFlow 2.0
  rfcs/20181217-tf2-random-numbers.md
Labels: 2.0, RFC: Proposed, cla: yes
