Repository tensorflow/community, pull requests merged in 2019-05, with the labels that each got.

#99 update sig addons logo png
  sigs/logos/SIGAddons.png
Labels: cla: yes

#91 RFC: String Tensor Unification
  rfcs/20190411-string-unification.md
  rfcs/20190411-string-unification/tstring_layout.png
Labels: RFC: Proposed, cla: yes

#84 RFC: Sustainability of TensorFlow Addons
  rfcs/20190308-addons-proxy-maintainership.md
Labels: RFC: Accepted, cla: yes

#104 Update addons maintainership RFC
  rfcs/20190308-addons-proxy-maintainership.md
Labels: cla: yes

#67 RFC: Replace SWIG with pybind11
  rfcs/20190208-pybind11.md
Labels: RFC: Proposed, cla: yes

#87 SIG-Micro proposal
  sigs/micro/CHARTER.md
  sigs/micro/SIG-request.md
Labels: cla: yes

#90 RFC: TensorBoard - Improved Plugin Extensibility
  rfcs/20190411-tensorboard-improved-plugin-ext.md
Labels: RFC: Accepted, cla: yes

#102 RFC: Keras SavedModel saving/loading
  rfcs/20190509-keras-saved-model.md
Labels: RFC: Accepted, cla: yes
