Repository tensorflow/community, pull requests merged in 2019-11, with the labels that each got.

#162 RFC: TFX Standardized Inputs
  rfcs/20191017-tfx-standardized-inputs.md
  rfcs/20191017-tfx-standardized-inputs/double-translation.png
  rfcs/20191017-tfx-standardized-inputs/impl_tfxio.png
  rfcs/20191017-tfx-standardized-inputs/oss_lib_org.png
  rfcs/20191017-tfx-standardized-inputs/overview.png
Labels: RFC: Accepted, TFX, cla: yes

#115 RFC: MLIR Dialects for TensorFlow
  rfcs/20190612-mlir-dialect.md
Labels: RFC: Accepted, cla: yes

#172 update RFC template to make required sections explicit
  rfcs/yyyymmdd-rfc-template.md
Labels: cla: yes

#165 Create rfc-admin-guide.md
  governance/rfc-admin-guide.md
Labels: cla: yes

#77 RFC: Modular TensorFlow
  rfcs/20190305-modular-tensorflow.md
  rfcs/20190305-modular-tensorflow/api_picture.png
  rfcs/20190305-modular-tensorflow/big_picture.png
  rfcs/20190305-modular-tensorflow/cpp_module.png
  rfcs/20190305-modular-tensorflow/initial_tf_deps.png
  rfcs/20190305-modular-tensorflow/py_modules.png
  rfcs/20190305-modular-tensorflow/releases.png
  rfcs/20190305-modular-tensorflow/simple_package_deps.png
Labels: RFC: Accepted, cla: yes
