Repository tensorflow/community, pull requests merged in 2019-08, with the labels that each got.

#128 TFX design docs covering configuration, Kubeflow integration, and orchestration
  rfcs/20190630-tfx-on-kfp.md
  rfcs/20190630-tfx-on-kfp/tfx-kfp-argo-workflow.png
  rfcs/20190630-tfx-on-kfp/tfx-kfp-containers.png
  rfcs/20190630-tfx-on-kfp/tfx-kfp-ui.png
  rfcs/20190630-tfx-on-kfp/tfx-on-kubeflow.png
  rfcs/20190630-tfx-on-kfp/tfx-oss-xcom-passing.png
  rfcs/20190718-tfx-orchestration.md
  rfcs/20190718-tfx-orchestration/tfx-oss-architecture.gif
  rfcs/20190718-tfx-orchestration/tfx-oss-component.gif
  rfcs/20190718-tfx-orchestration/tfx-oss-dag.png
Labels: cla: yes

#127 RFC: TensorFlow Debugger v2 -- Callbacks for Eager Execution and tf.function
  rfcs/20190815-tfdbg-v2-callbacks.md
  rfcs/20190815-tfdbg-v2-callbacks/graph-instrumentation.png
Labels: RFC: Accepted, RFC: Proposed, cla: yes

#113 RFC: Standardizing Composite Operations In TensorFlow
  rfcs/20190610-standardizing-composite_ops.md
Labels: RFC: Proposed, cla: yes

#138 Add way to allocate numbers to RFCs
  rfcs/yyyymmdd-rfc-template.md
Labels: cla: yes
