Repository tensorflow/community, pull requests merged in 2020-11, with the labels that each got.

#308 RFC: Supporting tf.function in tf.transform
  rfcs/20201012-tfx-tf-function-in-tft.md
Labels: RFC: Accepted, cla: yes

#313 RFC: Creating SIG Recommenders
  rfcs/20201023-sig-recommenders.md
Labels: RFC: Proposed, cla: yes

#314 RFC: Creating SIG Models
  rfcs/20201023-sig-models.md
Labels: RFC: Proposed, cla: yes

#288 Add SIG Lead for Addons
  sigs/addons/CHARTER.md
Labels: cla: yes

#328 Create SIG Models charter
  sigs/models/CHARTER.md
Labels: cla: yes
