Repository tensorflow/community, pull requests merged in 2020-02, with the labels that each got.

#199 Adding a link to Examples
  rfcs/yyyymmdd-rfc-template.md
Labels: cla: yes

#195 RFC: tf.data Service
  rfcs/20200113-tf-data-service.md
Labels: RFC: Accepted, cla: yes

#171 RFC: TPU SavedModel Export API for TF2
  rfcs/20191106-tf2-tpu-savedmodel.md
  rfcs/20191106-tf2-tpu-savedmodel/cpu_graph.png
  rfcs/20191106-tf2-tpu-savedmodel/customized_embeddings.png
  rfcs/20191106-tf2-tpu-savedmodel/tpu_graph.png
  rfcs/20191106-tf2-tpu-savedmodel/tpu_result.png
Labels: RFC: Proposed, cla: no

#193 RFC: tf.data Snapshot
  rfcs/20200107-tf-data-snapshot.md
Labels: RFC: Proposed, cla: yes

#201 RFC: TFX Generic Trainer / Native Keras Support
  rfcs/20200117-tfx-generic-trainer.md
Labels: RFC: Proposed, cla: yes

#210 Update @angersson to @angerson
  sigs/build/CHARTER.md
Labels: cla: yes

#200 RFC: Combining TFX ModelValidator with TFX Evaluator
  rfcs/20200117-tfx-combining-model-validator-with-evaluator.md
  rfcs/20200117-tfx-combining-model-validator-with-evaluator/before-after.png
  rfcs/20200117-tfx-combining-model-validator-with-evaluator/change-CI-threshold-a.png
  rfcs/20200117-tfx-combining-model-validator-with-evaluator/change-CI-threshold-b.png
  rfcs/20200117-tfx-combining-model-validator-with-evaluator/value-CI-threshold-a.png
  rfcs/20200117-tfx-combining-model-validator-with-evaluator/value-CI-threshold-b.png
Labels: RFC: Accepted, cla: yes
