Repository tensorflow/community, pull requests merged in 2020-12, with the labels that each got.

#277 RFC: Adding configurable Filesystems
  rfcs/20200804-configurable-filesystems.md
Labels: RFC: Proposed, cla: yes

#318 RFC: Modular TensorFlow Graph C API
  rfcs/20201027-modular-tensorflow-graph-c-api.md
  rfcs/20201027-modular-tensorflow-graph-c-api/flow.png
  rfcs/20201027-modular-tensorflow-graph-c-api/scenario1.png
  rfcs/20201027-modular-tensorflow-graph-c-api/scenario2.png
  rfcs/20201027-modular-tensorflow-graph-c-api/scenario3.png
Labels: RFC: Accepted, cla: yes

#326 Create SIG Recommenders charter
  sigs/recommenders/CHARTER.md
Labels: cla: yes

#324 Update addons sponsor
  sigs/addons/CHARTER.md
Labels: cla: yes
