Repository tensorflow/community, pull requests merged in 2020-06, with the labels that each got.

#247 RFC: TensorFloat-32 support in TensorFlow
  rfcs/20200520-tensor-float-32.md
Labels: RFC: Accepted, cla: yes

#133 RFC: Kernel and Op Implementation and Registration API
  rfcs/20190814-kernel-and-op-registration.md
  rfcs/20190814-kernel-and-op-registration/device_api_overview.png
Labels: RFC: Accepted, cla: yes

#256 Update 20200420-tfx-tuner-component.md
  rfcs/20200420-tfx-tuner-component.md
Labels: cla: yes

#253 RFC: TFX Advanced DSL semantics
  rfcs/20200601-tfx-udsl-semantics.md
  rfcs/20200601-tfx-udsl-semantics/async_pipeline_example.png
  rfcs/20200601-tfx-udsl-semantics/daily_job_abnormal.png
  rfcs/20200601-tfx-udsl-semantics/daily_job_normal.png
  rfcs/20200601-tfx-udsl-semantics/sub_pipeline.png
  rfcs/20200601-tfx-udsl-semantics/sync_pipeline_example.png
Labels: RFC: Proposed, cla: yes

#246 RFC: CSRSparseMatrix
  rfcs/20200519-csr-sparse-matrix.md
  rfcs/20200519-csr-sparse-matrix/classes.png
  rfcs/20200519-csr-sparse-matrix/format.png
Labels: RFC: Accepted, cla: yes
