Repository tensorflow/community, pull requests merged in 2020-10, with the labels that each got.

#284 [RFC] New repository for TensorFlow Java NdArray
  sigs/jvm/rfcs/20200726-java-ndarray-repository.md
Labels: RFC: Proposed, cla: yes

#287 RFC: Enabling TensorFloat-32 by default
  rfcs/20200903-tensor-float-32-default.md
Labels: RFC: Accepted, cla: yes

#276 Update Addons Release.md
  sigs/addons/RELEASE.md
Labels: cla: yes

#293 RFC: Keras Mixed Precision API
  rfcs/20200929-keras-mixed-precision.md
Labels: RFC: Accepted, cla: yes

#289 RFC: Creating SIG TF.js
  rfcs/20200916-sig-tf-js.md
Labels: RFC: Proposed, cla: yes

#286 RFC: Pickle Protocol for Keras
  rfcs/20200921-pickle-for-keras.md
Labels: RFC: Accepted, cla: yes

#307 Create SIG TF.js & Add CHARTER.md
  sigs/tf.js/CHARTER.md
Labels: cla: yes
