Repository tensorflow/community, pull requests merged in 2020-05, with the labels that each got.

#240 Add C++ style guide.
  governance/cpp-style.md
Labels: cla: yes

#232 Update CHARTER.md
  sigs/graphics/CHARTER.md
Labels: cla: yes

#236 RFC: TFX Tuner Component
  rfcs/20200420-tfx-tuner-component.md
  rfcs/20200420-tfx-tuner-component/cloud.png
  rfcs/20200420-tfx-tuner-component/parallel_tuning.png
  rfcs/20200420-tfx-tuner-component/workflow.png
Labels: RFC: Proposed, cla: yes

#224 RFC: FuseRecv
  rfcs/20200411-fuse_recv.md
  rfcs/20200411-fuse_recv/current_graph_partition_strategy.png
  rfcs/20200411-fuse_recv/fuse_recv_procedure.png
  rfcs/20200411-fuse_recv/graph_partition_strategy_with_fuse_recv.png
  rfcs/20200411-fuse_recv/performance_result.png
Labels: RFC: Accepted, cla: yes
